<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatBot</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body class="container">
    <div class="row">
        
        <div class="card col-sm-8 col-md-3" style="border-left: 20px solid #b1d11f;">
          <div class="card-header">
            ChatBot Bank
          </div>
          <div class="card-body mt-5">
            We help you in securing your money and allow you to have access to it anytime anyday at ease and also make easy transfer...
          </div>
        </div>

        <div class="col-md-3 offset-md-1 card" style="border-left: 20px solid #b1d11f;">
            <div class="card-header">
                No account yet?
              </div>
              <div class="card-body mt-5">
                <a href="/signup">Open account</a>
              </div>
        </div>

        <div class="col-md-4 card offset-md-1" style="border-left: 20px solid #b1d11f;">
            <div class="card-header" style="font-size: 22px;">
                Already have an account?
              </div>
              <div class="card-body mt-5">
                <a href="/login">Login Here</a>
              </div>
        </div>
    </div>
</body>
</html>


