<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success | Chatbot</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>

  <div class="card-box ml-2 mt-5 col-sm-8 col-md-4">
  </div>
  <div class="card col-sm-8 col-md-6 offset-3">
    <div class="card-header font-weight-bold">
      Transaction Successful
    </div>
    <div class="card-body">
      <img class="container" src="https://cdn.steemitimages.com/DQmT3P4pX8jTeCYrvYYrzTBn8z1xxx62dLFSMwU9WstoEPM/graphicstock-success-character-meaning-triumphant-successful-and-3d-rendering_BRKc1K5Cx_SB_PM.jpg" alt="">
    </div>

    <div class="card-footer text-center font-weight-bold">Back to <a href="/profile/<%=acc_id%>">Dashboard</a></div>
  </div>


</body>
</html>