<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success | Chatbot</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>

  <div class="card-box ml-2 mt-3 col-sm-8 col-md-4">
  </div>
  <div class="card col-sm-8 col-md-4">
    <div class="card-header">
      Transaction Successful
    </div>
    <div class="card-body">
      <img src="/images/success.png" alt="">
    </div>
  </div>


</body>
</html>