.card-header {
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid white
}

a {
    cursor: pointer;
}




#sidebar-wrapper {
min-height: 80vh;
margin-left: -15rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
}  

.btn {
    border: 1px solid black
}

.toggler {
    border-radius: 20px;
    border: 1px solid black;
    background-color: #B1D11F;

}

  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  .sidebar-heading{
      background-color: #B1D11F;
      width: 250px;
      cursor: pointer;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }

  .user-detail {
      font-size: 17px;
      border-bottom: 1px solid purple;
  }

  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
      border: 4px double whitesmoke;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }


@media screen and (max-width: 600px){

    .card-header {
        font-size: 20px
    }

 
}