.login-hide {
    display: none;
}

.login-show {
    display: visible
}

.card-box {
    background: #B1D11F;
    height: 60vh;
    opacity: .7;
    position: absolute;
}

.card {
    position: relative;
    left: 200px;
    top: 6vh;
    padding: 30px
}

.card-header {
    font-weight: bold;
    font-size: 32px;
    text-align: center
}

.card-body {
    font-size: 16px;
    text-align: center
}

input {
    border-left: 5px solid #B1D11F
}

.btn {
    border: 1px solid #B1D11F
}


@media screen and (max-width: 600px){
    .card-box {
        background: 0;
        opacity: .7;
        position: absolute;
    }
    .card {
       position: relative;
       left: 0px;
       border: 8px solid #B1D11F;
       border-top: 30px solid black;
       border-bottom: 3px solid black;
       background-color: whitesmoke;
     }
    input {
        border: 1px solid #B1D11F;
        border-left: 3px solid #B1D11F
    } 
    .card-header{
        font-size: 25px
    }
}