.boxContainer {
    background-color: #fff;
    min-height: 450px;
    width: 80%;
    border-radius: 8px;
    margin-top: 20px;
  }

  
  
  .box {
    min-height: 400px;
    background-color: #B1D11F;
    border: 1px solid white;
    margin-top: 25px;
    border-radius: 8px;
    padding: 40px;
    padding-top: 5px;
  } 

input {
    border-left: 5px solid black !important;
}

.btn {
    border-left: 3px solid black;
    border-right: 3px solid black;
    font-weight: bold;
}

@media screen and (max-width: 600px){
    .boxContainer {
        background-color: #fff;
        min-height: 450px;
        width: 90%;
        border-radius: 8px;
        margin-top: 20px;
      }
      
      .box {
        min-height: 400px;
        background-color: #B1D11F;
        border: 1px solid white;
        margin-top: 25px;
        border-radius: 8px;
        padding: 30px;
        padding-top: 5px;
      }  
}